<template>
	<div>
		<div class="title">
			<h1>
				<a
					v-on:click="switchmode('res')"
					:class="selected == 'res' ? 'selected' : 'notselected'"
					>Resources</a
				>
				&
				<a
					v-on:click="switchmode('todo')"
					:class="selected == 'todo' ? 'selected' : 'notselected'"
					>Todos</a
				>
			</h1>
			<h4>Things i find interesting or usefull & project ideas.</h4>
		</div>
		<div v-if="selected == 'res'">
			<div
				class="diagonal-box"
				v-for="resource of ress"
				:key="resource.desc"
			>
				<div class="content">
					<div class="resource">
						<a
							v-if="resource.imageLink"
							class="imageLink"
							:href="resource.link"
							target="_blank"
						>
							<img class="image" :src="resource.imageLink" />
						</a>
						<div class="resource-texts">
							<h3>{{ resource.title }}</h3>
							<div class="tags">
								<div
									class="tag"
									v-for="tag of resource.tags"
									:key="tag"
								>
									{{ tag }}
								</div>
							</div>
							<span
								>{{ resource.desc }}<br />
								<br />Added on: {{ resource.date }}</span
							>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div v-if="selected == 'todo'">
			<div class="diagonal-box" v-for="todo of todos" :key="todo.desc">
				<div class="content">
					<div class="resource">
						<div class="resource-texts">
							<h3>{{ todo.title }}</h3>
							<div class="tags">
								<div
									class="tag"
									v-for="tag of todo.tags"
									:key="tag"
								>
									{{ tag }}
								</div>
							</div>
							<span
								>{{ todo.desc }}
								<h4>Related links:</h4>
								<ul>
									<li
										v-for="link of todo.relatedLinks"
										:key="link.link"
									>
										<a
											:href="link.link"
											target="_blank"
											style="color: inherit"
											>{{ link.title }}</a
										>
									</li>
								</ul></span
							>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div
			class="footer"
			:style="
				elNumber % 2 == 0
					? 'background-image: linear-gradient(45deg, #414141, #000000);color:white;'
					: 'background-image: linear-gradient(45deg, #a1a1a1, #ffffff);color:black;'
			"
		>
			<span>Made by Vincent Etien</span>
		</div>
	</div>
</template>

<script>
let ressData = require("@/assets/resources.js");
export default {
	name: "ResourcesComp",
	props: {
		msg: String,
	},
	data: () => {
		return {
			ress: ressData.resources,
			todos: ressData.todos,
			selected: "res",
			elNumber: ressData.resources.length,
		};
	},
	methods: {
		switchmode(mode) {
			this.selected = mode;
			this.elNumber =
				mode == "res" ? this.ress.length : this.todos.length;
		},
	},
};
</script>
<style>
:root {
	--magic-number: 0.06139228045;
	--content-width: 100vw;
	--skew-padding: calc(var(--content-width) * var(--magic-number));
}

@media screen and (min-width: 42em) {
	:root {
		--content-width: 42em;
	}
}
.title {
	padding: 1em;
	background-color: white;
	color: black;
	height: 15em;
	background-image: linear-gradient(45deg, #a1a1a1, #ffffff);
	margin-bottom: -7em;
	text-align: center;
}
.footer {
	padding: 1rem;
	background-color: white;
	color: black;
	height: 15em;
	margin-top: -7rem;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.diagonal-box {
	transform: skewY(-7deg);
	padding: var(--skew-padding) 0;
}
.diagonal-box:nth-of-type(2n) {
	background-image: linear-gradient(45deg, #a1a1a1, #ffffff);
	color: black;
}
.diagonal-box:nth-of-type(2n + 1) {
	background-image: linear-gradient(45deg, #414141, #000000);
	color: white;
}
.content {
	max-width: 70rem;
	margin: 0 auto;
	transform: skewY(7deg);
}
.resource {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.imageLink {
	margin: 1rem;
	flex: 0;
}
.image:hover {
	transform: perspective(3000px) rotateY(5deg);
}
.image {
	height: 200px;
	width: 200px;

	object-fit: cover;
	transform: perspective(1500px) rotateY(15deg);
	border-radius: 1rem;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
	transition: transform 1s ease 0s;
}

.tag {
	border-radius: 1rem;
	background-color: #797979;
	padding: 0.5rem;
	margin: 0.5rem;
	width: max-content;
	margin-left: 0;
}
.tags {
	display: flex;
	flex-direction: row;
	flex-wrap: unset;
}
.resource-texts {
	flex: 0.5 1 300px;
}
.selected {
	text-decoration: underline;
}
.notselected {
	cursor: pointer;
}

h1 > a {
	position: relative;
	color: #000;
	text-decoration: none;
}

.notselected:hover {
	color: #000;
}

.notselected::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	bottom: 0;
	left: 0;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out 0s;
}
.notselected:hover::before {
	visibility: visible;
	transform: scaleX(1);
	background-color: #000;
}
</style>
