<template>
  <ResourcesComp />
</template>

<script>
import ResourcesComp from "./components/ResourcesComp";

export default {
  name: "App",
  components: { ResourcesComp },
};
</script>

<style>
body,
html {
  margin: 0;
  padding: 0;
  top: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 0;
}
</style>
